html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: $font-sans;
  font-weight: 400;
}

.body-container {
  min-height: 100%;
}

.dummy-div {
  position: relative;
  height: 100px;
}

.text-big {
	@include text-big;
}

.text-normal {
	@include text-normal;
}

.text-small {
	@include text-small;
}

.ibutton_xxxlarge {
  position: relative;
  height: $icon-size-xxxlarge;
  width: $icon-size-xxxlarge;
}

.ibutton_xxlarge {
  position: relative;
  height: $icon-size-xxlarge;
  width: $icon-size-xxlarge;
}

.ibutton_xlarge {
  position: relative;
  height: $icon-size-xlarge;
  width: $icon-size-xlarge;
}

.ibutton_large {
  position: relative;
  height: $icon-size-large;
  width: $icon-size-large;
}

.ibutton_medium {
  position: relative;
  height: $icon-size-medium;
  width: $icon-size-medium;
}

.left-column {
  display: flex;
}

.right-column {
  display: flex;
}

.inner-column {
  display: flex;
}

.inner-column-1 {
  display: flex;
}

.inner-column-2 {
  display: flex;
}

.left-column > .inner-column-1 {
  margin-right: 1 * $dunit;
}

.right-column > .inner-column-1 {
  margin-left: 1 * $dunit;
}

.left-column > .inner-column-2 {
  margin-right: 2 * $dunit;
}

.right-column > .inner-column-2 {
  margin-left: 2 * $dunit;
}

$spaceamounts: (1,2,3,4); 
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * $dunit};
    }
  }
}

