
.ibutton-absolute-topleft {
  left: $dunit * 2;
  position: absolute;
  top: $dunit * 2;
}

.ibutton-absolute-topright {
  position: absolute;
  right: $dunit * 2;
  top: $dunit * 2;
}

.platform-title {
  @include centered;
  background-image: url("../images/liqula_logo.svg");
  height: $dunit * 10;
  top: $dunit;
  position: relative;
  width: $dunit * 18;
}

.ibutton-with-number {
  position: relative;
  height: $icon-size-xxxlarge;
  width: $icon-size-xxxlarge;
}

.ibutton-with-number-small {
  position: relative;
  height: $icon-size-xxlarge;
  width: $icon-size-xxlarge;
}

.number-top-right {
  position: absolute;
  top: 0 - $dunit;
  right: 0px;
  width: 3 * $dunit;
  height: 3 * $dunit;
  background-color: black;
  color: yellow;
  border-radius: 1.5 * $dunit;
  line-height: 3 * $dunit;
  text-align: center;
  font-size: 2 * $dunit;
}


/* MENUPAGE COMMON */

.menupage-container {
  @include centered;
  border-radius: $border-radius;
  box-sizing: border-box;
  padding: 2 * $dunit;
  position: relative;
  width: $menupage-container-width;
}

.menupage-header {
  @include centered;
  @include two-columns-space-between($menupage-container-inner-width);
  position: relative;
  height: 6 * $dunit;

  &__search-input-div {
    align-items: center;
    display: flex;
    height: 6 * $dunit;
  }

  &__search-input-field {
    border-radius: $border-radius;
    border: 1px solid $c_blue_dark;
    width: $dunit * 24;
    height: $dunit * 3;
    background-color: $c_blue_light;
  }
}

.menupage-hr {
  @include centered;
  border-bottom: 1px solid $c_blue_dark;
  height: $dunit;
  width: $menupage-container-inner-width;
}

.menupage-hr-inner {
  @include centered;
  border-bottom: 1px solid $c_blue_light;
  height: $dunit;
  //margin-bottom: 2 * $dunit;
  width: $menupage-container-inner-width - (4 * $dunit);
}

.menupage-iconlist {
  @include centered;
  display: flex;
  //margin-top: $dunit;
  //margin-bottom: $dunit;
  padding: $dunit;
  width: $menupage-container-inner-width - (4 * $dunit);
}

.menupage-iconlist > .ibutton-with-number {
  margin-right: 2 * $dunit;
}

.menupage-section-header {
  @include two-columns-space-between($menupage-container-inner-width - (4 * $dunit));

  //margin-top: 2 * $dunit;
  //margin-bottom: $dunit;

  &__label {
    @include text-normal;
    line-height: $icon-size-xlarge;
  }
}

.group-details > .menupage-section-header {
  @include centered;
}


/* MENUPAGE - GROUPS */

.group-tile-container {
  display: flex;
  flex-wrap: wrap;
  width: $menupage-container-inner-width + 2 * $dunit;

}

.group-tile {
  border-radius: $border-radius;
  height: $group-tile-height;
  width: $group-tile-width;
  margin-right: 1.33333 * $dunit;
  margin-top: 2 * $dunit;

  &__image-div {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height: 30 * $dunit;
    overflow: hidden;
    width: $group-tile-width;
  }

  &__image-img {
    width: $group-tile-width;
  }

  &__svg-div {
    @include centered;
    box-sizing: border-box;
    height: 30 * $dunit;
    width: 30 * $dunit;
    padding: $dunit * 2;
  }

  &__groupname {
    // TODO/REVIEW: difficult dependencies between font-size, line-height and height / overflow
    @include text-big;
    height: 10 * $dunit;
    width: $group-tile-width;
    margin-top: $dunit;
    margin-bottom: $dunit;
    text-align: center;
    overflow: hidden;
  }

  &__ibuttons-div {
    @include centered;
    display: flex;
    justify-content: space-between;
    width: $group-tile-width - (4*$dunit);
  }
}


/* GROUP DETAILS */

.group-details {
  background-color: $c_blue_night;
  border-radius: $border-radius;
  //margin-top: 2 * $dunit;
  position: relative;
  width: $menupage-container-inner-width;

  &__titleimage-div {
    position: relative;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    width: $menupage-container-inner-width;
    height: 30 * $dunit;
    overflow: hidden;
  }

  &__titleimage-img {
    position: relative;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    width: $menupage-container-inner-width;
  }

  &__profile-img {
    position: absolute;
    width: 24 * $dunit;
    top: 24 * $dunit;
    left: 2 * $dunit;
    border-radius: $dunit;
  }

  &__svg-div {
    position: absolute;
    width: 24 * $dunit;
    height: 24 * $dunit;
    left: 2*$dunit;
    top: 2*$dunit;
  }

  &__description {
    position: relative;
    margin-left: 28 * $dunit;
    min-height: 24 * $dunit;
    padding-bottom: 4 * $dunit;

    &-headline {
      @include text-big;
      padding-top: 2 * $dunit;
      padding-bottom: 2 * $dunit;
      width: $menupage-container-inner-width - (28 * $dunit);
    }

    &-text {
      @include text-normal;
      width: $menupage-container-inner-width - (28 * $dunit);
    }
  }
}


/* DOCUMENT-TILE */

.document-tile-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.document-tile {
  background-color: $c_blue_morning;
  border-radius: $border-radius;
  display: flex;
  height: $document-tile-height;
  margin-bottom: 2 * $dunit;
  position: relative;
  width: $document-tile-width;

  &__column1 {
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
    height: $document-tile-height;
    position: relative;
    width: 24 * $dunit;
    overflow: hidden;

    &-svg {
      padding: 2 * $dunit;
    }

    &-img {
      border-bottom-left-radius: $dunit;
      border-top-left-radius: $dunit;
      height: $document-tile-height;
      position: relative;
    }
  }

  &__column2 {
    height: $document-tile-height;
    position: relative;
    width: 92 * $dunit;
    padding-left: $dunit;
    padding-right: $dunit;
    box-sizing: border-box;

    &-headline {
      @include text-big;
      height: 4.5 * $dunit;
      overflow: hidden;
      padding: $dunit;
      position: relative;
    }

    &-body {
      @include text-normal;
      height: $document-tile-height - 13 * $dunit;
      overflow: hidden;
      padding: $dunit;
      position: relative;
    }
  }

  &__column3 {
    height: $document-tile-height;
    position: relative;
    width: 4 * $dunit;

    &-vertical-line {
      height: $document-tile-height - 4 * $dunit;
      margin-top: 2 * $dunit;
      position: relative;
      border-left: 1px solid black;
    }
  }

  &__column4 {
    position: relative;
    width: 28 * $dunit;
    height: $document-tile-height;
    border-top-right-radius: $dunit;
    border-bottom-right-radius: $dunit;
    margin-top: $dunit;

    &-item {
      display: flex;
      height: $dunit * 6;
      justify-content: flex-start;
      margin: $dunit;
      width: 24 * $dunit;

      &-text {
        line-height: $dunit * 5;
        text-align: center;
        width: 6 * $dunit;
      }

      &-icon {
        position: relative;
      }
    }
  }
}


/* MENUPAGE - DASHBOARD */

.dashboard-itemlist {
  display: flex;
  width: $menupage-container-inner-width;
  overflow: scroll;
  padding-bottom: $dunit * 2;
}

.dashboard-item {
  border-radius: $border-radius;
  height: $dashboard-item-height;
  margin: $dunit;
  width: $dashboard-item-width;

  &__image-div {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height: $dashboard-item-height / 2;
    overflow: hidden;
    width: $dashboard-item-width;
  }

  &__img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    width: $dashboard-item-width;
  }

  &__svg-div {
    @include centered;
    box-sizing: border-box;
    height: $dashboard-item-height / 2;
    padding-top: 2 * $dunit;
    width: 10 * $dunit;
  }

  &__groupname {
    @include text-small;
    height: 4 * $dunit;
    margin-bottom: 0 * $dunit;
    margin-top: 0.75 * $dunit;
    overflow: hidden;
    text-align: center;
    width: $dashboard-item-width;
  }

  &__ibuttons-div {
    display: flex;
    justify-content: space-evenly;
  }
}


/* MENUPAGE - FORM */

.menu-form {
  width: $menupage-container-inner-width;
  background-color: $c_blue_night;
  border-radius: $border-radius;
  //margin-top: 2 * $dunit;
  padding-top: $dunit; 
  padding-bottom: $dunit; 

  &__input-div {
    @include centered;
    width: $menupage-container-inner-width - (4 * $dunit);
  }

  &__input {
    width: 100%;
    border-radius: $border-radius;
    box-sizing: border-box;
    border: 1px solid white;    
  }

  &__textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border-radius: $border-radius;
    box-sizing: border-box;
    border: 1px solid white;    
  }
}

.menu-form-header {
  @include centered;
  @include two-columns-space-between($menupage-container-inner-width - (4 * $dunit));

  &__label {
    @include text-big;
  }
}

.menu-form-section {
  @include centered;
  @include two-columns-space-between($menupage-container-inner-width - (4 * $dunit));

  //margin-top: 2 * $dunit;

  &__label {
    @include text-normal;
  }
}

.menu-form-submenu {
  @include centered;
  display: flex;
  width: $menupage-container-inner-width - (4 * $dunit);
  //margin-top: 2 * $dunit;

  &__item-container {
    display: flex;
    margin-right: 4*$dunit;
  }
  &__item-ibutton {
    margin-right: $dunit;
  }
  &__item-label {
    @include text-normal;
    line-height: $icon-size-xlarge;
    margin-right: $dunit;
  }
  &__item-help {
  }
}

