
.trumbowyg-box {
    border: 0 none;
    min-height: 180px;
}

.trumbowyg-fullscreen {
    margin-top: 0;
}

.trumbowyg-editor {
    background-color: $white;
    min-height: 180px;
}


// style markup view according to wysiwyg view

.trumbowyg-textarea {
    border-style: none;
    box-sizing: border-box;
    margin: 0;
    min-height: 180px;
    outline: none;
    overflow: auto;
    padding: 20px;
    position: relative;
    resize: none;
    width: 100%;
}


@include gridle_state( tablet desktop) {
    .trumbowyg-box {
        margin-top: $global-padding * 8;
    }

    .trumbowyg-fullscreen {
        margin-top: 0;
    }
}
