build:
  script:
    - ./build.sh  # try `./build.sh setup && ./build.sh clean && ./build.sh` if anything weird is going on.

deploy_staging:
  stage: deploy
  script:
    - curl http://zb1:3001/
  environment:
    name: staging
    url: https://demo8.aula.de/
#  only:
#    - master
