build:
  script:
    - time ./build setup && time ./build
      # (try `./build setup && ./build clean && ./build` here
      # if you suspect interference from earlier ci runs.)

deploy_staging:
  stage: deploy
  script:
    - wget -O - http://zb1:3001/
        # (curl only gives you the choice between no output and correct exit code (-q) and vice versa.)
  environment:
    name: staging
    url: https://demo8.aula.de/
  only:
    - master
