build:
  script:
    - time ./build setup && time ./build
      # (try `./build setup && ./build clean && ./build` here
      # if you suspect interference from earlier ci runs.)

deploy_staging:
  stage: deploy
  script:
    - curl -m 1 http://zb1:3001/ || true
  environment:
    name: staging
    url: https://demo8.aula.de/
