/.build
/.shake
.stack-work
.sass-cache/
/pkg/prelude/refine-prelude.cabal
/pkg/common/refine-common.cabal
/pkg/backend/refine-backend.cabal
/pkg/backend/.backend-data
/pkg/backend/server.conf
/pkg/backend/dev.log
/pkg/frontend/dev.log
/pkg/frontend/scss/main.css*
/pkg/frontend/scss-new/main.css*
/accept/.selenium/
/accept/accept.cabal
