$icomoon-font-path: "../fonts" !default;

$icon-Arrow_down_bright: "\e900";
$icon-Arrow_down_dark: "\e901";
$icon-Arrow_down_RO: "\e902";
$icon-Arrow_left_bright: "\e903";
$icon-Arrow_left_dark: "\e904";
$icon-Arrow_right_bright: "\e905";
$icon-Arrow_right_dark: "\e906";
$icon-Arrow_right_RO: "\e907";
$icon-Arrow_up_bright: "\e908";
$icon-Arrow_up_dark: "\e909";
$icon-Arrow_up_RO: "\e90a";
$icon-Arrow-left_RO: "\e90b";
$icon-cat_art_bright: "\e90c";
$icon-cat_art_dark: "\e90d";
$icon-cat_art_RO: "\e90e";
$icon-cat_fitness_bright: "\e90f";
$icon-cat_fitness_dark: "\e910";
$icon-cat_fitness_RO: "\e911";
$icon-cat_flowers_bright: "\e912";
$icon-cat_flowers_dark: "\e913";
$icon-cat_flowers_RO: "\e914";
$icon-cat_part_dark: "\e915";
$icon-cat_party_bright: "\e916";
$icon-cat_party_RO: "\e917";
$icon-cat_photo_bright: "\e918";
$icon-cat_photo_dark: "\e919";
$icon-cat_photo_RO: "\e91a";
$icon-cat_rollerdisco_bright: "\e91b";
$icon-cat_rollerdisco_dark: "\e91c";
$icon-cat_rollerdisco_RO: "\e91d";
$icon-cat_romantic_bright: "\e91e";
$icon-cat_romantic_dark: "\e91f";
$icon-cat_romantic_RO: "\e920";
$icon-cat_sailing_bright: "\e921";
$icon-cat_sailing_dark: "\e922";
$icon-cat_sailing_RO: "\e923";
$icon-cat_work_bright: "\e924";
$icon-cat_work_dark: "\e925";
$icon-cat_work_RO: "\e926";
$icon-cat-buisness_bright: "\e927";
$icon-cat-buisness_dark: "\e928";
$icon-cat-buisness_RO: "\e929";
$icon-Close_bright: "\e92a";
$icon-Close_dark: "\e92b";
$icon-Close_RO: "\e92c";
$icon-Comment_bright: "\e92d";
$icon-Comment_dark: "\e92e";
$icon-Comment_RO: "\e92f";
$icon-Discussion_bright-path1: "\e930";
$icon-Discussion_bright-path2: "\e931";
$icon-Discussion_dark-path1: "\e932";
$icon-Discussion_dark-path2: "\e933";
$icon-Discussion_ligthblue-path1: "\e934";
$icon-Discussion_ligthblue-path2: "\e935";
$icon-Discussion_RO: "\e936";
$icon-Edit_bright-path1: "\e937";
$icon-Edit_bright-path2: "\e938";
$icon-Edit_bright-path3: "\e939";
$icon-Edit_dark-path1: "\e93a";
$icon-Edit_dark-path2: "\e93b";
$icon-Edit_dark-path3: "\e93c";
$icon-Edit_RO-path1: "\e93d";
$icon-Edit_RO-path2: "\e93e";
$icon-Edit_RO-path3: "\e93f";
$icon-FAQ_bright: "\e940";
$icon-FAQ_dark: "\e941";
$icon-FAQ_RO: "\e942";
$icon-Filter_bright: "\e943";
$icon-Filter_dark: "\e944";
$icon-Filter_RO: "\e945";
$icon-Group_bright-path1: "\e946";
$icon-Group_bright-path2: "\e947";
$icon-Group_bright-path3: "\e948";
$icon-Group_bright-path4: "\e949";
$icon-Group_bright-path5: "\e94a";
$icon-Group_bright-path6: "\e94b";
$icon-Group_dark-path1: "\e94c";
$icon-Group_dark-path2: "\e94d";
$icon-Group_dark-path3: "\e94e";
$icon-Group_dark-path4: "\e94f";
$icon-Group_dark-path5: "\e950";
$icon-Group_dark-path6: "\e951";
$icon-Group_RO: "\e952";
$icon-Help_bright: "\e953";
$icon-Help_dark: "\e954";
$icon-Help_RO: "\e955";
$icon-Idea_bright: "\e956";
$icon-Idea_dark: "\e957";
$icon-Idea_RO: "\e958";
$icon-Index_desktop_bright-path1: "\e959";
$icon-Index_desktop_bright-path2: "\e95a";
$icon-Index_desktop_bright-path3: "\e95b";
$icon-Index_desktop_bright-path4: "\e95c";
$icon-Index_desktop_bright-path5: "\e95d";
$icon-Index_desktop_bright-path6: "\e95e";
$icon-Index_desktop_dark-path1: "\e95f";
$icon-Index_desktop_dark-path2: "\e960";
$icon-Index_desktop_dark-path3: "\e961";
$icon-Index_desktop_dark-path4: "\e962";
$icon-Index_desktop_dark-path5: "\e963";
$icon-Index_desktop_dark-path6: "\e964";
$icon-Index_desktop_dark-path7: "\e965";
$icon-Index_desktop_dark-path8: "\e966";
$icon-Index_desktop_RO: "\e967";
$icon-Index_mobile_bright-path1: "\e968";
$icon-Index_mobile_bright-path2: "\e969";
$icon-Index_mobile_bright-path3: "\e96a";
$icon-Index_mobile_bright-path4: "\e96b";
$icon-Index_mobile_bright-path5: "\e96c";
$icon-Index_mobile_bright-path6: "\e96d";
$icon-Index_mobile_bright-path7: "\e96e";
$icon-Index_mobile_bright-path8: "\e96f";
$icon-Index_mobile_dark-path1: "\e970";
$icon-Index_mobile_dark-path2: "\e971";
$icon-Index_mobile_dark-path3: "\e972";
$icon-Index_mobile_dark-path4: "\e973";
$icon-Index_mobile_dark-path5: "\e974";
$icon-Index_mobile_dark-path6: "\e975";
$icon-Index_mobile_RO: "\e976";
$icon-Info_bright-path1: "\e977";
$icon-Info_bright-path2: "\e978";
$icon-Info_dark-path1: "\e979";
$icon-Info_dark-path2: "\e97a";
$icon-Info_RO-path1: "\e97b";
$icon-Info_RO-path2: "\e97c";
$icon-Login_bright-path1: "\e97d";
$icon-Login_bright-path2: "\e97e";
$icon-Login_dark-path1: "\e97f";
$icon-Login_dark-path2: "\e980";
$icon-Login_RO-path1: "\e981";
$icon-Login_RO-path2: "\e982";
$icon-New_Comment_bright-path1: "\e983";
$icon-New_Comment_bright-path2: "\e984";
$icon-New_Comment_dark-path1: "\e985";
$icon-New_Comment_dark-path2: "\e986";
$icon-New_Comment_RO-path1: "\e987";
$icon-New_Comment_RO-path2: "\e988";
$icon-New_Edit_bright-path1: "\e989";
$icon-New_Edit_bright-path2: "\e98a";
$icon-New_Edit_bright-path3: "\e98b";
$icon-New_Edit_bright-path4: "\e98c";
$icon-New_Edit_bright-path5: "\e98d";
$icon-New_Edit_dark-path1: "\e98e";
$icon-New_Edit_dark-path2: "\e98f";
$icon-New_Edit_dark-path3: "\e990";
$icon-New_Edit_dark-path4: "\e991";
$icon-New_Edit_dark-path5: "\e992";
$icon-New_Edit_RO-path1: "\e993";
$icon-New_Edit_RO-path2: "\e994";
$icon-New_Edit_RO-path3: "\e995";
$icon-New_Edit_RO-path4: "\e996";
$icon-New_Edit_RO-path5: "\e997";
$icon-Next_Phase_bright: "\e998";
$icon-Next_Phase_dark: "\e999";
$icon-Next_Phase_RO: "\e99a";
$icon-Play_bright: "\e99b";
$icon-Play_dark: "\e99c";
$icon-Play_RO: "\e99d";
$icon-Plus_bright: "\e99e";
$icon-Plus_dark: "\e99f";
$icon-Plus_RO: "\e9a0";
$icon-Private_lock_dark: "\e9a1";
$icon-Private_lock_light: "\e9a2";
$icon-Private_lock_RO: "\e9a3";
$icon-Private_note_bright-path1: "\e9a4";
$icon-Private_note_bright-path2: "\e9a5";
$icon-Private_note_dark-path1: "\e9a6";
$icon-Private_note_dark-path2: "\e9a7";
$icon-Private_note_ligthyellow-path1: "\e9a8";
$icon-Private_note_ligthyellow-path2: "\e9a9";
$icon-Private_note_RO-path1: "\e9aa";
$icon-Private_note_RO-path2: "\e9ab";
$icon-Process_bright-path1: "\e9ac";
$icon-Process_bright-path2: "\e9ad";
$icon-Process_bright-path3: "\e9ae";
$icon-Process_dark-path1: "\e9af";
$icon-Process_dark-path2: "\e9b0";
$icon-Process_dark-path3: "\e9b1";
$icon-Process_RO: "\e9b2";
$icon-Question_bright: "\e9b3";
$icon-Question_dark: "\e9b4";
$icon-Question_lightgreen: "\e9b5";
$icon-Question_RO: "\e9b6";
$icon-Reader_bright: "\e9b7";
$icon-Reader_dark: "\e9b8";
$icon-Reader_RO: "\e9b9";
$icon-Remark_bright: "\e9ba";
$icon-Remark_dark: "\e9bb";
$icon-Remark_lightred: "\e9bc";
$icon-Remark_RO: "\e9bd";
$icon-Search_bright: "\e9be";
$icon-Search_dark: "\e9bf";
$icon-Search_RO: "\e9c0";
$icon-Share_bright-path1: "\e9c1";
$icon-Share_bright-path2: "\e9c2";
$icon-Share_dark-path1: "\e9c3";
$icon-Share_dark-path2: "\e9c4";
$icon-Share_RO-path1: "\e9c5";
$icon-Share_RO-path2: "\e9c6";
$icon-Sort_bright: "\e9c7";
$icon-Sort_dark: "\e9c8";
$icon-Sort_RO: "\e9c9";
$icon-User_bright: "\e9ca";
$icon-User_dark: "\e9cb";
$icon-User_me_bright-path1: "\e9cc";
$icon-User_me_bright-path2: "\e9cd";
$icon-User_me_dark-path1: "\e9ce";
$icon-User_me_dark-path2: "\e9cf";
$icon-User_RO: "\e9d0";
$icon-Vote_negative_bright-path1: "\e9d1";
$icon-Vote_negative_bright-path2: "\e9d2";
$icon-Vote_negative_dark-path1: "\e9d3";
$icon-Vote_negative_dark-path2: "\e9d4";
$icon-Vote_negative_RO-path1: "\e9d5";
$icon-Vote_negative_RO-path2: "\e9d6";
$icon-Vote_neutral_bright-path1: "\e9d7";
$icon-Vote_neutral_bright-path2: "\e9d8";
$icon-Vote_neutral_dark-path1: "\e9d9";
$icon-Vote_neutral_dark-path2: "\e9da";
$icon-Vote_neutral_RO-path1: "\e9db";
$icon-Vote_neutral_RO-path2: "\e9dc";
$icon-Vote_positive_bright-path1: "\e9dd";
$icon-Vote_positive_bright-path2: "\e9de";
$icon-Vote_positive_dark-path1: "\e9df";
$icon-Vote_positive_dark-path2: "\e9e0";
$icon-Vote_positive_RO-path1: "\e9e1";
$icon-Vote_positive_RO-path2: "\e9e2";
