.#{$v}ibutton {
  min-width: $icon-size-xxlarge;
  max-width: $icon-size-xxlarge;

  &-icon {
    min-height: $icon-size-xxlarge;
    max-height: $icon-size-xxlarge;
  }

  &-label {
    min-height: $icon-size-xxlarge / 3;
    max-height: $icon-size-xxlarge / 3;
  }
}

/*

Hallo Matthias,
ja das sollte so auf jeden Fall gehen.

Zwei Sachen:
Ich würde das (zur Sicherheit) so machen:

 .icon-dark {
        svg{
                .st0{fill:#203143;}
                .st1{fill:#54637A;}
        }
}

Wahrscheinlich geht das anders auch, aber so laufen wir nicht in Gefahr, dass doch irgendwo was anderes auch gefüllt wird.
Und dann die Farben halt über Variablen.

Wir müssen jetzt nochmal checken, ob es immer diese beiden Klassen gibt oder noch andere, also in allen SVGs.
Aber das ist dann Detailarbeit.
Bzw: Es gibt dann pro Icon nur eine SVG und schon alleine deshalb würde ich alle neu machen, glaube ich.
Das schaffe ich aber sicher erst im September.

Der zweite Punkt:
Das SVG hat jetzt ja das:
> <title>Zeichenfläche 1 Kopie 2</title>
Das ist ein Relikt von meiner Illustrator Datei.
Trotzdem sollten wir das in etwas Sinnvolles ändern, weil es bei Mouseover als Tooltip angezeigt wird (mit einem Delay).
Und wenn einer von uns da eh rum macht, dann können wir gleich noch die Generator-Info rausnehmen.

Und bei Einbinden der SVGs über css: Da musst du dir wegen dem Pfad aufpassen. Sonst ist das eine gute Idee, finde ich.

Liebe Grüße,
Fabian

*/
