/*

FUTUREWORK: can we make better use of scss/sass features here?

http://sass-lang.com/documentation/
http://sass-lang.com/documentation/file.SASS_REFERENCE.html

mixins together with interpoliation are sort-of statically resolved functions

nesting may also be useful.

*/

@import "10-global.scss";
@import "20-colors.scss";
@import "30-core.scss";

.main-content {
  background-color: $c_blue_morning;
  border-radius: $dunit;
  margin-left: auto;
  margin-right: auto;
  padding: $dunit * 3;
  position: relative;
  width: $dunit * 152;

  &__header {
    position: relative;
    width: 100%;
    height: 11 * $dunit;
    display: flex;
    justify-content: space-between;
  }

  &__header-inner {
    display: flex;
  }
}

.mainMenuGroups {
  position: relative;
  display: flex;
  width: 152 * $dunit;
  flex-wrap: wrap;
  margin-top: $dunit * 2;
}

.mainMenuGroupShort {
  position: relative;
  margin: $dunit;
  width: 36 * $dunit;
  min-width: 36 * $dunit;
  height: 54 * $dunit;
  min-height: 54 * $dunit;

  /*background-color: $c_blue_dawn;*/
  border: 0px solid black;
  border-radius: $dunit;

  &__image-div {
    position: relative;
    width: 36 * $dunit;
    height: 30 * $dunit;
    border-top-left-radius: $dunit;
    border-top-right-radius: $dunit;
    border-width: 0px;
  }

  &__image {
    position: relative;
    width: 36 * $dunit;
    height: 30 * $dunit;
    border-top-left-radius: $dunit;
    border-top-right-radius: $dunit;
    border-width: 0px;
  }

  &__svg-div {
    position: relative;
    margin-top: 4 * $dunit;
    width: 26 * $dunit;
    height: 26 * $dunit;
    border-top-left-radius: $dunit;
    border-top-right-radius: $dunit;
    border-width: 0px;
    margin-left: 5 * $dunit;
  }

  &__groupname {
    position: relative;
    margin-top: 1 * $dunit;
    width: 36 * $dunit;
    height: 8.25 * $dunit;
    margin-bottom: 2.75 * $dunit;
    line-height: 4 * $dunit;
    text-align: center;
    font-size: 3.5 * $dunit;
    font-weight: bold;
    overflow: hidden;
  }

  &__iconlist {
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }
}

/* group detail processes */

.groupDetails {
  // FIXME: wrong name.  this should be re-used for members and sub-groups tabs.
  position: relative;
  width: 150 * $dunit;
  margin: $dunit;
  margin-top: $dunit * 3;
  background-color: $c_blue_night;
  border-radius: $dunit;
  padding-bottom: $dunit;

  // TODO: like in group-short, i need both svg and img logo support; title image upload will come later.
  //   also, the names should be consistent with the names in groupshort.
  &__svg-div {
    position: absolute;
    width: 24 * $dunit;
    height: 24 * $dunit;
    left: 2*$dunit;
    top: 2*$dunit;
  }

  &__titleimage-div {
    position: relative;
    border-top-left-radius: $dunit;
    border-top-right-radius: $dunit;
    width: 150 * $dunit;
    height: 30 * $dunit;
  }

  &__titleimage-img {
    position: relative;
    border-top-left-radius: $dunit;
    border-top-right-radius: $dunit;
    width: 150 * $dunit;
    height: 30 * $dunit;
  }

  &__profile-img {
    position: absolute;
    width: 24 * $dunit;
    height: 24 * $dunit;
    top: 24 * $dunit;
    left: 2 * $dunit;
    border-radius: $dunit;
  }

  &__description {
    position: relative;
    margin-left: 28 * $dunit;
    min-height: 24 * $dunit;
    padding-bottom: 4 * $dunit;

    &-headline {
      font-size: 4 * $dunit;
      padding-top: 2 * $dunit;
      padding-bottom: 2 * $dunit;
      width: 120 * $dunit;
    }

    &-text {
      width: 120 * $dunit;
    }
  }

  &__iconlist {
    position: relative;
    padding: $dunit;
    display: flex;
  }

  &__submenu {
    position: relative;
    padding-left: $dunit * 2;
    padding-right: $dunit;
    display: flex;
    justify-content: space-between;
  }

  &__submenu-title {
    position: relative;
  }

  &__submenu-icons {
    display: flex;
  }
}

$groupDetailsDocumentHeight: 30 * $dunit;

.groupDetailsDocument {
  position: relative;
  display: flex;
  width: 146 * $dunit;
  height: $groupDetailsDocumentHeight;
  background-color: $c_blue_morning;
  border-radius: $dunit;
  margin-left: $dunit * 2;
  margin-right: $dunit * 2;
  margin-bottom: $dunit * 2;

  &__column1 {
    position: relative;
    width: 24 * $dunit;
    height: $groupDetailsDocumentHeight;
    border-top-left-radius: $dunit;
    border-bottom-left-radius: $dunit;

    &-image {
      position: relative;
      width: 24 * $dunit;
      height: $groupDetailsDocumentHeight;
      border-top-left-radius: $dunit;
      border-bottom-left-radius: $dunit;
    }
  }

  &__column2 {
    position: relative;
    width: 92 * $dunit;
    height: $groupDetailsDocumentHeight;

    &-headline {
      padding: $dunit;
      position: relative;
      font-size: 5 * $dunit;
      height: 5.5 * $dunit;
      overflow: hidden;
    }

    &-body {
      padding: $dunit;
      position: relative;
      height: $groupDetailsDocumentHeight - 12 * $dunit;
      overflow: hidden;
    }
  }

  &__column3 {
    position: relative;
    width: 4 * $dunit;
    height: $groupDetailsDocumentHeight;

    &-vertical-line {
      position: relative;
      border-left: 1px solid black;
      height: $groupDetailsDocumentHeight - 6 * $dunit;
      margin-top: 3 * $dunit;
    }
  }

  &__column4 {
    position: relative;
    width: 28 * $dunit;
    height: $groupDetailsDocumentHeight;
    border-top-right-radius: $dunit;
    border-bottom-right-radius: $dunit;
    margin-top: $dunit;

    &-item {
      height: $dunit * 9;
      display: flex;
      width: 30 * $dunit;
      margin: $dunit;

      &-text {
        width: 6 * $dunit;
        text-align: center;
        line-height: $dunit * 5;
      }

      &-icon {
        position: relative;
        width: $icon-size-xxlarge;
      }
    }
  }
}

/* general */

html {
  min-height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
}

/*
.clearboth {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
*/

/* special */

.margin1 {
  margin: $dunit;
}

.margin10 {
  margin: $dunit * 10;
}

.hr-div {
  margin-left: $dunit;
  margin-right: $dunit;
  border-top: 1px solid $c_blue_dawn;
}

.hr-2-div {
  margin-left: $dunit * 2;
  margin-right: $dunit * 2;
  border-top: 1px solid $c_blue_morning;
}

/*
.on_top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
*/

.search-input {
  position: relative;
  width: $dunit * 24;
  height: $dunit * 4;
  border-radius: $dunit;
  border: 1px solid $c_blue_dawn;
  background-color: $c_blue_morning;
  margin: $dunit;
  margin-top: $dunit * 2;
}

.platform-title {
  // FIXME: needs tweaking.  also see menu bar where this class is used.
  background-image: url("../images/liqula_logo.svg");
  height: $dunit * 10;
  margin-left: auto;
  margin-right: auto;
  top: $dunit;
  position: relative;
  width: $dunit * 18;
}

.number-top-right {
  position: absolute;
  top: 0 - $dunit;
  right: 0px;
  width: 3 * $dunit;
  height: 3 * $dunit;
  background-color: black;
  color: yellow;
  border-radius: 1.5 * $dunit;
  line-height: 3 * $dunit;
  text-align: center;
  font-size: 2 * $dunit;
}

.body-container {
  position: relative;
  width: 100%;
  min-width: 156 * $dunit;
  min-height: 100%;
  height: 100%;
}

/* general icon classes */

.ibutton_xxxlarge {
  position: relative;
  height: $icon-size-xxxlarge;
  width: $icon-size-xxxlarge;
}

.ibutton_xxlarge {
  position: relative;
  height: $icon-size-xxlarge;
  width: $icon-size-xxlarge;
}

.ibutton_xlarge {
  position: relative;
  height: $icon-size-xlarge;
  width: $icon-size-xlarge;
}

.ibutton_large {
  position: relative;
  height: $icon-size-large;
  width: $icon-size-large;
}

.ibutton_medium {
  position: relative;
  height: $icon-size-medium;
  width: $icon-size-medium;
}

/* the following 2 definitions must come after the definitions of the button classes
   because "absolute" should override the "relative" property of the button size class
*/

.ibutton_absolute-topleft {
  position: absolute;
  left: $dunit * 2;
  top: $dunit * 2;
}

.ibutton_absolute-topright {
  position: absolute;
  right: $dunit * 2;
  top: $dunit * 2;
}

/* discussion */

$discussionSidebarWidth: 40 * $dunit;

.discussion-header {
    position: relative;
    width: 100%;
    height: 8 * $dunit;
    background-color: $c_green_background;
    display: flex;
    justify-content: space-between;

    &__inner {
      display: flex;
    }

    &__column1 {
      display: flex;
      justify-content: space-between;
      width: $discussionSidebarWidth;
    }

    &__column2 {
      display: flex;
      justify-content: space-between;
    }
    &__column2-spacer {
      position: relative;
      width: $dunit;
      margin-top: $dunit*2;
      margin-bottom: $dunit*2;
      border-left: 1px solid $c_discussion_dark;
    }

    &__column3 {
      display: flex;
      justify-content: space-between;
    }

    &__column4 {
      display: flex;
      justify-content: flex-end;
      width: 40*$dunit;
    }
}

.discussion-sidebar-container {
  position: relative;
  width: $discussionSidebarWidth;
  height: 500px;
  overflow: scroll;
}

.discussion-sidebar {
    position: relative;
    width: $discussionSidebarWidth - (0*$dunit);
    background-color: $c_discussion_dark;
    padding-bottom: 4*$dunit;

    &__titlebar {
      display: flex;
      justify-content: space-between;

      &-title {

      }
      &-icon {

      }
    }

    &__preview {
      position: relative;
      width: $discussionSidebarWidth - (3*$dunit);
      padding-bottom: 2*$dunit;


      &-inner {
        position: relative;
        border-radius: 2*$dunit;
        background-color: $c_note_bubble;
        padding: 2*$dunit;
        margin: $dunit;
        margin-left: 4*$dunit;
        overflow: hidden;
        z-index: 0;
        height: 15*$dunit;
      }

      &-inner-text {
        font-size: 2*$dunit;
        overflow: hidden;
        height: 14*$dunit;
      }

      &-inner-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        height: $dunit;
        width: 100%;
        background-color: red;
      }
      &-icon {
        position: absolute;
        top: -(2*$dunit);
        left: 2*$dunit;
        width: $icon-size-xlarge;
        height: $icon-size-xlarge;
        z-index: 1;
      }
    }
}
