@import "../0-settings/settings.icons";

@font-face {
  font-family: 'refineIcons';
  src:
    url('#{$icomoon-font-path}/refineIcons.ttf?32imnj') format('truetype'),
    url('#{$icomoon-font-path}/refineIcons.woff?32imnj') format('woff'),
    url('#{$icomoon-font-path}/refineIcons.svg?32imnj#refineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'refineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Edit_view_bright {
  background-image: url("../images/Edit_view_bright.svg");
}
.icon-Edit_view_dark {
  background-image: url("../images/Edit_view_dark.svg");
}
.icon-Edit_view_RO {
  background-image: url("../images/Edit_view_RO.svg");
}

.icon-Arrow_down_bright {
  &:before {
    content: $icon-Arrow_down_bright;
  }
}
.icon-Arrow_down_dark {
  &:before {
    content: $icon-Arrow_down_dark;
  }
}
.icon-Arrow_down_RO {
  &:before {
    content: $icon-Arrow_down_RO;
  }
}
.icon-Arrow_left_bright {
  &:before {
    content: $icon-Arrow_left_bright;
  }
}
.icon-Arrow_left_dark {
  &:before {
    content: $icon-Arrow_left_dark;
  }
}
.icon-Arrow_right_bright {
  &:before {
    content: $icon-Arrow_right_bright;
  }
}
.icon-Arrow_right_dark {
  &:before {
    content: $icon-Arrow_right_dark;
  }
}
.icon-Arrow_right_RO {
  &:before {
    content: $icon-Arrow_right_RO;
  }
}
.icon-Arrow_up_bright {
  &:before {
    content: $icon-Arrow_up_bright;
  }
}
.icon-Arrow_up_dark {
  &:before {
    content: $icon-Arrow_up_dark;
  }
}
.icon-Arrow_up_RO {
  &:before {
    content: $icon-Arrow_up_RO;
  }
}
.icon-Arrow-left_RO {
  &:before {
    content: $icon-Arrow-left_RO;
  }
}
.icon-cat_art_bright {
  &:before {
    content: $icon-cat_art_bright;
  }
}
.icon-cat_art_dark {
  &:before {
    content: $icon-cat_art_dark;
  }
}
.icon-cat_art_RO {
  &:before {
    content: $icon-cat_art_RO;
  }
}
.icon-cat_fitness_bright {
  &:before {
    content: $icon-cat_fitness_bright;
  }
}
.icon-cat_fitness_dark {
  &:before {
    content: $icon-cat_fitness_dark;
  }
}
.icon-cat_fitness_RO {
  &:before {
    content: $icon-cat_fitness_RO;
  }
}
.icon-cat_flowers_bright {
  &:before {
    content: $icon-cat_flowers_bright;
  }
}
.icon-cat_flowers_dark {
  &:before {
    content: $icon-cat_flowers_dark;
  }
}
.icon-cat_flowers_RO {
  &:before {
    content: $icon-cat_flowers_RO;
  }
}
.icon-cat_part_dark {
  &:before {
    content: $icon-cat_part_dark;
  }
}
.icon-cat_party_bright {
  &:before {
    content: $icon-cat_party_bright;
  }
}
.icon-cat_party_RO {
  &:before {
    content: $icon-cat_party_RO;
  }
}
.icon-cat_photo_bright {
  &:before {
    content: $icon-cat_photo_bright;
  }
}
.icon-cat_photo_dark {
  &:before {
    content: $icon-cat_photo_dark;
  }
}
.icon-cat_photo_RO {
  &:before {
    content: $icon-cat_photo_RO;
  }
}
.icon-cat_rollerdisco_bright {
  &:before {
    content: $icon-cat_rollerdisco_bright;
  }
}
.icon-cat_rollerdisco_dark {
  &:before {
    content: $icon-cat_rollerdisco_dark;
  }
}
.icon-cat_rollerdisco_RO {
  &:before {
    content: $icon-cat_rollerdisco_RO;
  }
}
.icon-cat_romantic_bright {
  &:before {
    content: $icon-cat_romantic_bright;
  }
}
.icon-cat_romantic_dark {
  &:before {
    content: $icon-cat_romantic_dark;
  }
}
.icon-cat_romantic_RO {
  &:before {
    content: $icon-cat_romantic_RO;
  }
}
.icon-cat_sailing_bright {
  &:before {
    content: $icon-cat_sailing_bright;
  }
}
.icon-cat_sailing_dark {
  &:before {
    content: $icon-cat_sailing_dark;
  }
}
.icon-cat_sailing_RO {
  &:before {
    content: $icon-cat_sailing_RO;
  }
}
.icon-cat_work_bright {
  &:before {
    content: $icon-cat_work_bright;
  }
}
.icon-cat_work_dark {
  &:before {
    content: $icon-cat_work_dark;
  }
}
.icon-cat_work_RO {
  &:before {
    content: $icon-cat_work_RO;
  }
}
.icon-cat-buisness_bright {
  &:before {
    content: $icon-cat-buisness_bright;
  }
}
.icon-cat-buisness_dark {
  &:before {
    content: $icon-cat-buisness_dark;
  }
}
.icon-cat-buisness_RO {
  &:before {
    content: $icon-cat-buisness_RO;
  }
}
.icon-Close_bright {
  &:before {
    content: $icon-Close_bright;
  }
}
.icon-Close_dark {
  &:before {
    content: $icon-Close_dark;
  }
}
.icon-Close_RO {
  &:before {
    content: $icon-Close_RO;
  }
}
.icon-Comment_bright {
  &:before {
    content: $icon-Comment_bright;
  }
}
.icon-Comment_dark {
  &:before {
    content: $icon-Comment_dark;
  }
}
.icon-Comment_RO {
  &:before {
    content: $icon-Comment_RO;
  }
}
.icon-Discussion_bright {
  background-image: url("../images/Discussion_bright.svg");
}

.icon-Discussion_dark {
  background-image: url("../images/Discussion_dark.svg");
}

.icon-Discussion_ligthblue {
  background-image: url("../images/Discussion_lightblue.svg");
}

.icon-Discussion_RO {
  background-image: url("../images/Discussion_RO.svg");
}

.icon-Edit_bright .path1 {
  &:before {
    content: $icon-Edit_bright-path1;
    color: rgb(210, 217, 223);
  }
}
.icon-Edit_bright .path2 {
  &:before {
    content: $icon-Edit_bright-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Edit_bright .path3 {
  &:before {
    content: $icon-Edit_bright-path3;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Edit_dark .path1 {
  &:before {
    content: $icon-Edit_dark-path1;
    color: rgb(32, 49, 67);
  }
}
.icon-Edit_dark .path2 {
  &:before {
    content: $icon-Edit_dark-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Edit_dark .path3 {
  &:before {
    content: $icon-Edit_dark-path3;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Edit_RO .path1 {
  &:before {
    content: $icon-Edit_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Edit_RO .path2 {
  &:before {
    content: $icon-Edit_RO-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Edit_RO .path3 {
  &:before {
    content: $icon-Edit_RO-path3;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-FAQ_bright {
  &:before {
    content: $icon-FAQ_bright;
  }
}
.icon-FAQ_dark {
  &:before {
    content: $icon-FAQ_dark;
  }
}
.icon-FAQ_RO {
  &:before {
    content: $icon-FAQ_RO;
  }
}
.icon-Filter_bright {
  &:before {
    content: $icon-Filter_bright;
  }
}
.icon-Filter_dark {
  &:before {
    content: $icon-Filter_dark;
  }
}
.icon-Filter_RO {
  &:before {
    content: $icon-Filter_RO;
  }
}
.icon-Group_bright .path1 {
  &:before {
    content: $icon-Group_bright-path1;
    color: rgb(100, 126, 149);
  }
}
.icon-Group_bright .path2 {
  &:before {
    content: $icon-Group_bright-path2;
    margin-left: -1em;
    color: rgb(100, 126, 149);
  }
}
.icon-Group_bright .path3 {
  &:before {
    content: $icon-Group_bright-path3;
    margin-left: -1em;
    color: rgb(100, 126, 149);
  }
}
.icon-Group_bright .path4 {
  &:before {
    content: $icon-Group_bright-path4;
    margin-left: -1em;
    color: rgb(100, 126, 149);
  }
}
.icon-Group_bright .path5 {
  &:before {
    content: $icon-Group_bright-path5;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-Group_bright .path6 {
  &:before {
    content: $icon-Group_bright-path6;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-Group_dark .path1 {
  &:before {
    content: $icon-Group_dark-path1;
    color: rgb(84, 99, 122);
  }
}
.icon-Group_dark .path2 {
  &:before {
    content: $icon-Group_dark-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Group_dark .path3 {
  &:before {
    content: $icon-Group_dark-path3;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Group_dark .path4 {
  &:before {
    content: $icon-Group_dark-path4;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Group_dark .path5 {
  &:before {
    content: $icon-Group_dark-path5;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Group_dark .path6 {
  &:before {
    content: $icon-Group_dark-path6;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Group_RO {
  &:before {
    content: $icon-Group_RO;
  }
}
.icon-Help_bright {
  &:before {
    content: $icon-Help_bright;
  }
}
.icon-Help_dark {
  &:before {
    content: $icon-Help_dark;
  }
}
.icon-Help_RO {
  &:before {
    content: $icon-Help_RO;
  }
}
.icon-Idea_bright {
  &:before {
    content: $icon-Idea_bright;
  }
}
.icon-Idea_dark {
  &:before {
    content: $icon-Idea_dark;
  }
}
.icon-Idea_RO {
  &:before {
    content: $icon-Idea_RO;
  }
}
.icon-Index_desktop_bright {
  background-image: url("../images/Index_desktop_bright.svg");
}
.icon-Index_desktop_dark {
  background-image: url("../images/Index_desktop_dark.svg");
}
.icon-Index_desktop_RO {
  background-image: url("../images/Index_desktop_RO.svg");
}
.icon-Index_mobile_bright .path1 {
  &:before {
    content: $icon-Index_mobile_bright-path1;
    color: rgb(210, 217, 223);
  }
}
.icon-Index_mobile_bright .path2 {
  &:before {
    content: $icon-Index_mobile_bright-path2;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-Index_mobile_bright .path3 {
  &:before {
    content: $icon-Index_mobile_bright-path3;
    margin-left: -1em;
    color: rgb(224, 255, 18);
  }
}
.icon-Index_mobile_bright .path4 {
  &:before {
    content: $icon-Index_mobile_bright-path4;
    margin-left: -1em;
    color: rgb(224, 255, 18);
  }
}
.icon-Index_mobile_bright .path5 {
  &:before {
    content: $icon-Index_mobile_bright-path5;
    margin-left: -1em;
    color: rgb(224, 255, 18);
  }
}
.icon-Index_mobile_bright .path6 {
  &:before {
    content: $icon-Index_mobile_bright-path6;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-Index_mobile_bright .path7 {
  &:before {
    content: $icon-Index_mobile_bright-path7;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-Index_mobile_bright .path8 {
  &:before {
    content: $icon-Index_mobile_bright-path8;
    margin-left: -1em;
    color: rgb(224, 255, 18);
  }
}
.icon-Index_mobile_dark .path1 {
  &:before {
    content: $icon-Index_mobile_dark-path1;
    color: rgb(32, 49, 67);
  }
}
.icon-Index_mobile_dark .path2 {
  &:before {
    content: $icon-Index_mobile_dark-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Index_mobile_dark .path3 {
  &:before {
    content: $icon-Index_mobile_dark-path3;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Index_mobile_dark .path4 {
  &:before {
    content: $icon-Index_mobile_dark-path4;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Index_mobile_dark .path5 {
  &:before {
    content: $icon-Index_mobile_dark-path5;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Index_mobile_dark .path6 {
  &:before {
    content: $icon-Index_mobile_dark-path6;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Index_mobile_RO {
  &:before {
    content: $icon-Index_mobile_RO;
  }
}
.icon-Info_bright .path1 {
  &:before {
    content: $icon-Info_bright-path1;
    color: rgb(210, 217, 223);
  }
}
.icon-Info_bright .path2 {
  &:before {
    content: $icon-Info_bright-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Info_dark .path1 {
  &:before {
    content: $icon-Info_dark-path1;
    color: rgb(32, 49, 67);
  }
}
.icon-Info_dark .path2 {
  &:before {
    content: $icon-Info_dark-path2;
    margin-left: -1em;
    color: rgb(224, 255, 18);
  }
}
.icon-Info_RO .path1 {
  &:before {
    content: $icon-Info_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Info_RO .path2 {
  &:before {
    content: $icon-Info_RO-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Login_bright .path1 {
  &:before {
    content: $icon-Login_bright-path1;
    color: rgb(210, 217, 223);
  }
}
.icon-Login_bright .path2 {
  &:before {
    content: $icon-Login_bright-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Login_dark .path1 {
  &:before {
    content: $icon-Login_dark-path1;
    color: rgb(32, 49, 67);
  }
}
.icon-Login_dark .path2 {
  &:before {
    content: $icon-Login_dark-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-Login_RO .path1 {
  &:before {
    content: $icon-Login_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Login_RO .path2 {
  &:before {
    content: $icon-Login_RO-path2;
    margin-left: -1em;
    color: rgb(84, 99, 122);
  }
}
.icon-New_Comment_bright {
  background-image: url("../images/New_Comment_bright.svg");
}
.icon-New_Comment_dark {
  background-image: url("../images/New_Comment_dark.svg");
}
.icon-New_Comment_RO {
  background-image: url("../images/New_Comment_RO.svg");
}
.icon-New_Edit_bright {
  background-image: url("../images/New_Edit_bright.svg");
}
.icon-New_Edit_dark {
  background-image: url("../images/New_Edit_dark.svg");
}
.icon-New_Edit_RO {
  background-image: url("../images/New_Edit_RO.svg");
}
.icon-Next_Phase_bright {
  &:before {
    content: $icon-Next_Phase_bright;
  }
}
.icon-Next_Phase_dark {
  &:before {
    content: $icon-Next_Phase_dark;
  }
}
.icon-Next_Phase_RO {
  &:before {
    content: $icon-Next_Phase_RO;
  }
}
.icon-Note_bright {
  background-image: url("../images/Note_bright.svg");
}
.icon-Note_dark {
  background-image: url("../images/Note_dark.svg");
}
.icon-Note_lightred {
  background-image: url("../images/Note_lightred.svg");
}
.icon-Note_RO {
  background-image: url("../images/Note_RO.svg");
}
.icon-Play_bright {
  &:before {
    content: $icon-Play_bright;
  }
}
.icon-Play_dark {
  &:before {
    content: $icon-Play_dark;
  }
}
.icon-Play_RO {
  &:before {
    content: $icon-Play_RO;
  }
}
.icon-Plus_bright {
  &:before {
    content: $icon-Plus_bright;
  }
}
.icon-Plus_dark {
  &:before {
    content: $icon-Plus_dark;
  }
}
.icon-Plus_RO {
  &:before {
    content: $icon-Plus_RO;
  }
}
.icon-Private_lock_dark {
  &:before {
    content: $icon-Private_lock_dark;
  }
}
.icon-Private_lock_light {
  &:before {
    content: $icon-Private_lock_light;
  }
}
.icon-Private_lock_RO {
  &:before {
    content: $icon-Private_lock_RO;
  }
}
.icon-Private_note_bright .path1 {
  &:before {
    content: $icon-Private_note_bright-path1;
    color: rgb(210, 217, 223);
  }
}
.icon-Private_note_bright .path2 {
  &:before {
    content: $icon-Private_note_bright-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Private_note_dark .path1 {
  &:before {
    content: $icon-Private_note_dark-path1;
    color: rgb(32, 49, 67);
  }
}
.icon-Private_note_dark .path2 {
  &:before {
    content: $icon-Private_note_dark-path2;
    margin-left: -1em;
    color: rgb(224, 255, 18);
  }
}
.icon-Private_note_ligthyellow .path1 {
  &:before {
    content: $icon-Private_note_ligthyellow-path1;
    color: rgb(237, 237, 192);
  }
}
.icon-Private_note_ligthyellow .path2 {
  &:before {
    content: $icon-Private_note_ligthyellow-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Private_note_RO .path1 {
  &:before {
    content: $icon-Private_note_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Private_note_RO .path2 {
  &:before {
    content: $icon-Private_note_RO-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Process_bright .path1 {
  &:before {
    content: $icon-Process_bright-path1;
    color: rgb(100, 126, 149);
  }
}
.icon-Process_bright .path2 {
  &:before {
    content: $icon-Process_bright-path2;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-Process_bright .path3 {
  &:before {
    content: $icon-Process_bright-path3;
    margin-left: -1em;
    color: rgb(177, 190, 202);
  }
}
.icon-Process_dark .path1 {
  &:before {
    content: $icon-Process_dark-path1;
    color: rgb(84, 99, 122);
  }
}
.icon-Process_dark .path2 {
  &:before {
    content: $icon-Process_dark-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-Process_dark .path3 {
  &:before {
    content: $icon-Process_dark-path3;
    margin-left: -1em;
    color: rgb(59, 67, 87);
  }
}
.icon-Process_RO {
  &:before {
    content: $icon-Process_RO;
  }
}
.icon-Question_bright {
  &:before {
    content: $icon-Question_bright;
  }
}
.icon-Question_dark {
  &:before {
    content: $icon-Question_dark;
  }
}
.icon-Question_lightgreen {
  &:before {
    content: $icon-Question_lightgreen;
  }
}
.icon-Question_RO {
  &:before {
    content: $icon-Question_RO;
  }
}
.icon-Reader_bright {
  background-image: url("../images/Reader_bright.svg");
}
.icon-Reader_dark {
  background-image: url("../images/Reader_dark.svg");
}
.icon-Reader_RO {
  background-image: url("../images/Reader_RO.svg");
}
.icon-Search_bright {
  &:before {
    content: $icon-Search_bright;
  }
}
.icon-Search_dark {
  &:before {
    content: $icon-Search_dark;
  }
}
.icon-Search_RO {
  &:before {
    content: $icon-Search_RO;
  }
}
.icon-Share_bright {
  background-image: url("../images/Share_bright.svg");
}
.icon-Share_dark {
  background-image: url("../images/Share_dark.svg");
}
.icon-Share_RO {
  background-image: url("../images/Share_RO.svg");
}
.icon-Sort_bright {
  &:before {
    content: $icon-Sort_bright;
  }
}
.icon-Sort_dark {
  &:before {
    content: $icon-Sort_dark;
  }
}
.icon-Sort_RO {
  &:before {
    content: $icon-Sort_RO;
  }
}
.icon-User_bright {
  &:before {
    content: $icon-User_bright;
  }
}
.icon-User_dark {
  &:before {
    content: $icon-User_dark;
  }
}
.icon-User_me_bright .path1 {
  &:before {
    content: $icon-User_me_bright-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-User_me_bright .path2 {
  &:before {
    content: $icon-User_me_bright-path2;
    margin-left: -1em;
    color: rgb(210, 217, 223);
  }
}
.icon-User_me_dark .path1 {
  &:before {
    content: $icon-User_me_dark-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-User_me_dark .path2 {
  &:before {
    content: $icon-User_me_dark-path2;
    margin-left: -1em;
    color: rgb(32, 49, 67);
  }
}
.icon-User_RO {
  &:before {
    content: $icon-User_RO;
  }
}
.icon-Vote_negative_bright .path1 {
  &:before {
    content: $icon-Vote_negative_bright-path1;
    color: rgb(227, 155, 137);
  }
}
.icon-Vote_negative_bright .path2 {
  &:before {
    content: $icon-Vote_negative_bright-path2;
    margin-left: -1em;
    color: rgb(200, 55, 20);
  }
}
.icon-Vote_negative_dark .path1 {
  &:before {
    content: $icon-Vote_negative_dark-path1;
    color: rgb(200, 55, 20);
  }
}
.icon-Vote_negative_dark .path2 {
  &:before {
    content: $icon-Vote_negative_dark-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-Vote_negative_RO .path1 {
  &:before {
    content: $icon-Vote_negative_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Vote_negative_RO .path2 {
  &:before {
    content: $icon-Vote_negative_RO-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-Vote_neutral_bright .path1 {
  &:before {
    content: $icon-Vote_neutral_bright-path1;
    color: rgb(243, 218, 127);
  }
}
.icon-Vote_neutral_bright .path2 {
  &:before {
    content: $icon-Vote_neutral_bright-path2;
    margin-left: -1em;
    color: rgb(231, 181, 0);
  }
}
.icon-Vote_neutral_dark .path1 {
  &:before {
    content: $icon-Vote_neutral_dark-path1;
    color: rgb(231, 181, 0);
  }
}
.icon-Vote_neutral_dark .path2 {
  &:before {
    content: $icon-Vote_neutral_dark-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-Vote_neutral_RO .path1 {
  &:before {
    content: $icon-Vote_neutral_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Vote_neutral_RO .path2 {
  &:before {
    content: $icon-Vote_neutral_RO-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-Vote_positive_bright .path1 {
  &:before {
    content: $icon-Vote_positive_bright-path1;
    color: rgb(187, 227, 152);
  }
}
.icon-Vote_positive_bright .path2 {
  &:before {
    content: $icon-Vote_positive_bright-path2;
    margin-left: -1em;
    color: rgb(120, 200, 50);
  }
}
.icon-Vote_positive_dark .path1 {
  &:before {
    content: $icon-Vote_positive_dark-path1;
    color: rgb(120, 200, 50);
  }
}
.icon-Vote_positive_dark .path2 {
  &:before {
    content: $icon-Vote_positive_dark-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-Vote_positive_RO .path1 {
  &:before {
    content: $icon-Vote_positive_RO-path1;
    color: rgb(224, 255, 18);
  }
}
.icon-Vote_positive_RO .path2 {
  &:before {
    content: $icon-Vote_positive_RO-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
