.iconsize-m {
    background-size: 100%;
    width: 14px;
    height: 14px;
}

.iconsize-l {
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.iconsize-xl {
    background-size: 100%;
    width: 26px;
    height: 26px;
}

.iconsize-xxl {
    background-size: 100%;
    width: 32px;
    height: 32px;
}
