.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1000000;
    bottom: 150%;
    left: 50%;
    margin-left: -50%;

    // tooltips are covered by the header.  setting z-index here does
    // not help, because article (and all the usual text in it must be
    // covered by the header, and we can't have a dom tree of which
    // parts are over and other parts are under separate dom tree (or
    // so it seems).
    //
    // one solution would be to implement tooltips like we implemented
    // bubbles.  this has the drawback that it is much less
    // light-weight, and the benefit that it works :).  more
    // investigation needed.
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
